
<footer class="secondFooter">

	<div class="container">

		<div class="row">

			<div class="footerBottom col-xs-12">

				<p style="text-align: center;font-size:32px;"><i class="pf pf-bancontact-mister-cash"></i><i class="pf pf-ideal"></i> <i class="pf pf-sofort"></i></p>

			</div>

		</div>

		<hr>

		<div class="row">

			<div class="footerBottom col-md-3 col-xs-12">

				<h6>©  <a ui-sref="home" title="Tubbber" href="/en/">Tubbber</a>, <span translate="">All Rights Reserved</span></h6>

			</div>

			<div class="footerBottom col-md-9 col-xs-12">
				<ul>
					<li>
						<a ui-sref="responsibilityOwner" translate="" href="/en/responsibility-and-liability-boat-owner">Owner Responsibility and Liability</a>
					</li>
					<li>
						<a ui-sref="guestRefund" translate="" href="/en/guest-refund-policy">Guest refund policy</a>
					</li>
					<li>
						<a ui-sref="useTubbber" title="Use Tubbber" translate="" href="/en/use-tubbber">Use Tubbber</a>
					</li>
					<li>
						<a ui-sref="cancellationPolicy" title="Cancellation policy" translate="" href="/en/cancellation-policy-renter">Cancellation policy</a>
					</li>
					<li>
						<a ui-sref="terms" translate="" href="/en/terms">Terms of use</a>
					</li>

				</ul>
			</div>

		</div>

	</div>

</footer>