<div class="topHeader">
    <div class="container-fluid">

        <div class="topContact">

            <a href="tel:+442033180104" style="margin-right:10px;">
                <i class="fa fa-phone" style="margin-left:5px;margin-right:5px;"></i>
                +44 2 0 3318 0104
            </a><!---->

            <span><i class="fa fa-envelope" style="margin-left:5px;margin-right:5px;"></i>  support@tubbber.com</span>

        </div>

        <div class="topIntro">
            <ul>
                <li>
                    <a ui-sref="listYourBoat" title="Listing" href="/en/list-your-boat">
                        <span translate="">List your boat</span>
                        <i class="fa fa-fw fa-plus" style="margin-right:10px;" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>