
<footer>
	<div class="container">

		<div class="row">

			<div class="col-xs-6 col-md-4">
				<h4 translate="">Social Media</h4>
				<ul>
					<li class="fb"><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/tubbber">Facebook</a>
					</li>
					<li class="tw"><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/tubbbertweets">Twitter</a>
					</li>
					<li class="li"><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/company/tubbber">LinkedIn</a></li>
					<li class="gp"><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/109849621692403679614/">Google+</a></li>
					<li class="in"><i class="fa fa-instagram"></i> <a href="http://www.instagram.com/tubbber/">Instagram</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-4">
				<h4 translate="">Company info</h4>
				<ul class="modify">
					<li>
						<!---->
						<!----><a ng-if="currentLanguage!='nl'" target="_blank" rel="noopener" href="https://blog.tubbber.com" title="Tubbber Blog" translate="">Tubbber Blog</a><!---->
					</li>
					<li>
						<a ui-sref="aboutus" title="About us" translate="" href="/en/about-tubbber">About us</a>
					</li>
					<li>
						<a ui-sref="addABoat" title="Add a boat" translate="" href="/en/add-your-boat">Add a boat</a>
					</li>

					<li>
						<a ui-sref="rentABoat" title="Rent a boat" translate="" href="/en/rent-a-boat">Rent a boat</a>
					</li>
					<li>
						<a ui-sref="rentOutYourBoat" title="Rent out a boat" translate="" href="/en/let-your-boat">Rent out your boat</a>
					</li>
					<li>
						<!---->
						<!----><a ng-if="currentLanguage!='nl'" target="_blank" rel="noopener" href="https://support.tubbber.com" title="Support" translate="">Support</a><!---->
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-md-4">
				<h4 translate="">Contact information</h4>

				<p>
					<a href="tel:+31 (0) 58 820 0300"><i class="fa fa-fw fa-phone"></i>+31 (0) 58 820 0300<br></a>
					<i class="fa fa-fw fa-location-arrow" aria-hidden="true"></i>Achterweg 1<br>
					<i class="fa fa-fw">&nbsp;</i>9725 BM  Groningen<br>
					<i class="fa fa-fw">&nbsp;</i>The Netherlands<br>
					<a href="mailto:support@tubbber.com"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>support@tubbber.com</a><br>
				</p>
			</div>

		</div>

		<hr>


		<!--<div class="row">

			<div class="col-xs-12 logo-container">
				<img src="https://s3-eu-west-1.amazonaws.com/livetubbber/images/site/RTLZ.png"/>
				<img src="https://s3-eu-west-1.amazonaws.com/livetubbber/images/site/LogoTNW.png"/>
				<img src="https://s3-eu-west-1.amazonaws.com/livetubbber/images/site/BI.png"/>
				<img src="https://s3-eu-west-1.amazonaws.com/livetubbber/images/site/WIRED.png"/>
			</div>
		</div>-->

	</div>

</footer>
