<input type="text" class="datePickerField openModal" (click)="open()" value="{{selected.format('DD/MMMM/YYYY')}}" />
<div  class="modal-date" *ngIf="isSelecting">
  <div class="header">
    <i class="fa fa-angle-left" (click)="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" (click)="next()"></i>
  </div>
  <div class="week names">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
  </div>
  <div class="week" *ngFor="let week of weeks">
    <span class="day" [ngClass]="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }"
      (click)="select(day)" *ngFor="let day of week.days">{{day.number}}</span>
  </div>
</div>